{% extends 'base.html' %}

{% block title %}Verificar Código - IntelliHome{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header">
                    <h2 class="text-center">Verificar Código</h2>
                </div>
                <div class="card-body">
                    <p class="text-center">Por favor, ingrese el código de verificación enviado a su correo electrónico.</p>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field.as_widget|safe }}
                            {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Validar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
